.footer{
    background: linear-gradient(180deg, #0A2850 0%, #071931 100%);
    padding-left: 80px;
    padding-top: 60px;
    padding-right: 100px;
    padding-bottom: 60px;
    box-sizing: border-box;
}

.footer__content{
    display: flex;
    justify-content: space-between;
}

.footer__logo{
    width: 153px;
    height: 32px;
}

.footer__social-heading{
    font-family: Inter, Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    margin-right: 0px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.footer__list{
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer__list-item{
    font-family: Inter, Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    margin-top: 20px;
}

.footer__social-link{
    color: #FFFFFF;
    display: flex;
    align-items: right;
    margin-bottom: 16px;
    text-decoration: none;
}

.footer__social-link:last-of-type{
    margin-bottom: 0px;
}

.footer__social-link:hover{
    color: #C1C1C1;
}

.footer__social-icon{
    margin-right: 10px;
}

.footer__copyright{
    font-family: Inter, Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    margin-top: 108px;
    color: #FFFFFF;
}